<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Bye</title>
  </head>
  <body>
    <%name= "Karen" %> 
    <!--THIS IS A COMMENT, defining a variable - evalutating in ruby -->
  <p><%= "Hello my name is #{name}" %></p>
  </body>
</html>