<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Bye</title>
  </head>
  <body>
    <%name= "Karlie" %> #defining a variable - evalutating in ruby 
  <h1>Goodbye</h1>
  </body>
</html>